@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
#logo{
	float: left;
	margin-top: 30px;
	margin-left: 40px;
}

#header{
	height:80px;
	width:100%;
	background-color: white;
	border-bottom: 1px solid black;
	position: fixed;
	z-index: 10;
}
/* this part is good! */
@media screen and (min-width: 1185px){
	.page_center{
	width: 1185px;

	}
}
@media screen and (max-width: 1184px){
	.page_center{
	width: 100%;

	}
}


#meniu{
	list-style-type: none;
	float:right;
	margin-top: 30px;
	margin-right: 40px;

}

#meniu li{
	display: inline-block;
	text-align: center;
	vertical-align: baseline;
	font-size: 16px;
	font-weight: 400;
	margin-right: 25px;
}
#meniu li a:hover{
	transition-duration: 0.5s;
	text-decoration: none;
	color: #5AADDD;
	cursor:pointer;
}
#meniu li a{
	text-decoration: none !important;
	transition-duration: 0.5s;
	color: black;
}
