#inventorius{
    margin-top: 80px;
}
.inv-card{
    border:1px solid #dddddd;
    height:150px;
    margin-left:25px;
    width: 360px;
    transition-duration: 1s;

   
}
.inv-card:hover{
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    border-color:#94b9dc;
    cursor:pointer;
}
.inv-content-center{
    padding-left:25px;
    padding-right:25px;
    text-align: center;
    line-height: 24px;
}
.inv-content-center p {
        font-weight: 100;
        color: #333;
   
}
.inv-content-center h3 {
    transition: 1s;
    font-weight: 100;
        font-size: 24px;
   
}
.inv-card:hover .inv-content-center h3{
    transition: 1s;
    transition-timing-function: ease-in-out;
    color:#94b9dc;
}
/*
    give margin when dropped
    This is very specific and only works for 3 cards
*/

@media screen and (min-width: 786px) and (max-width: 1170px){
    .inv-card:nth-child(3){
        margin-top: 25px;
    }
}

@media screen and (max-width: 785px){
    .inv-card:not(:nth-child(1)){
        margin-top: 25px;
    }
    #inventorius{
        width: 100%;
        margin:0 auto;
        margin-top: 80px;
    }
    .inv-card{
<<<<<<< HEAD
        width: auto;
        height: auto;
        margin-right:25px;
    }
=======
        width: 90%;
        height: auto;
        
        
               
    }
    .inv{
        margin: 0 auto;
    }
    
>>>>>>> development
   
}