#block{
    width:700px;
    margin: 0 auto;
}
.cards{
    display: inline-block;
    height:300px;
    width:300px;
    border: solid 1px black;
    background-color:lightslategrey;
}
.cards:nth-child(1){
    float:left;
}
.cards:nth-child(2){
    float:right;
}

@media only screen and (max-width:610px){
    .cards{
        
        float:clear;
        display: block;
         
    }
}