#slide-show-block
{
    height:600px!important;
    overflow:hidden;
    z-index: 10;
}
.slide{
    
    display: inline-block;
    width:100%;
   
    
}
.slide img{
    width:100%;
   
    object-fit: cover;
    vertical-align: baseline;
     
    
}

.caption{
    position: absolute;
    margin-top:0px;
    color:red;
    z-index: 20;

}
/*
so image could stop shrinking
*/
@media only screen and (max-width:1100px){
    .slide img{
    
    vertical-align: baseline;
    position: fixed;
    
    min-height: 600px;
    
    
    }
    .slide{
    min-height:600px; 
    
    align-content: center;
    }
}
/*
controls
*/
#control-left{
    position: absolute;
    top:300px;
    left:10px;
    
}
#control-right{
     position: absolute;
     top:300px;
     right:10px;
}
.controls{
    font-size: 24px;
    color:lightslategray;
}

/*bullet points*/

#bullet-points{
   
top:575px;
margin: auto;
position: absolute;
left: 0; bottom: 0; right: 0;

}
#bullet-points a div{
    height:8px;
    width:8px;
    border:1px solid black;
    border-radius: 25px;
    
}
#bullet-points a:not(:nth-child(1)){
    display: inline-block;
    margin-left:4px;
}
#bullet-points a:nth-child(1){
     display: inline-block;
    margin-right:-3px;
}

.selected-point div{
    background-color:black;
}
/*
    slide effects
*/
.show_slide{
    display: block;
}
.hide_slide{
    display: none;
}
